<!--
    Title: WEB 231 – Enterprise JavaScript I
    Author: Professor Krasso
    Date: 09/07/2021
    Modified By: Keith Hall (With Bootstrap)
    Description: Tabular view of employee records.
-->
<!DOCTYPE html>
<html lang="en">
<%- include ("header.ejs") %>
<body>
<%- include ("navbar.ejs") %>
<div class="content-container" style="height:555px">
<% if (employees.length > 0) { %>
    <h2 style="margin-left:300px; margin-top:50px">Employee Listing</h2><br><br>
    <div id="return"><a href="/new">Add New</a></div>
    <table class="table table‐hover">
        <thead class="thead‐dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>         <!--Table headers-->
            <th>Functions</th>
        </tr>
        </thead>
        <tbody>
        <% employees.forEach(function (entry) { %> <!--.for each employee entry, show data in the table. -->
        <tr>
            <td><%= entry.firstName %></td>       <!--Show first name entered-->
            <td><%= entry.lastName %></td>         <!--Show last name entered-->
            <td><a href="/view <%= entry.name %>">VIEW</a></td>  <!--Show the view link to the view page-->
        </tr>
        </tbody>
        <% }) %>
    </table>
    <% } else { %>
    No entries! <a href="/new">Add one!</a>
    <% } %>
</div>
<%- include ("footer.ejs") %>
<%- include ("scripts.ejs") %>
</body>
</html>