<!--
    Title: WEB 231 – Enterprise JavaScript I
    Author: Professor Krasso
    Date: 09/07/2021
    Modified By: Keith Hall
    Description: This is the data entry page.
-->
<!DOCTYPE html>
<html lang="en">
<%- include ("header.ejs") %>
<body>
<%- include ("navbar.ejs") %>
<div role="main" class="container" style="width:50%; height:560px">
    <br><br>
    <h1 style="margin-left:-40px;margin-top:-10px">Employee Entry Form</h1>
    <br/><br>
    <div class="row">
        <div style="color:#094514">
          <p><strong>Add new employee</strong></p>
	        <div class= "alert alert-success" role= "alert">
              <form method="post" action="/process">
                <div style="padding-top:10px"><br />
                  <label for="firstName">First Name:</label>
                  <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Enter first name..." required /><br />
                  <label for="lastName">First Name:</label>
                  <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Enter last name..." required />
                </div>
                <br /> <br /> <br />
                <div class="form-group">
                  <!-- CSRF token -->
                  <input name="_csrf" value="<%= csrfToken %>" type="hidden" /><br><br>
                  <button type="submit" class="btn btn-primary" style="float:right;margin-top: -70px">Submit</button>
                </div>
                <br><br>
              </form>
		    </div>
	    </div>
</div>
    <a href="/">Return Home</a>
  </div>

<%- include ("footer.ejs") %>
<%- include ("scripts.ejs") %>
</body>
</html>